﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Transportadora</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seja Bem Vindo</h2>
        <p>
            Sistema de transportadora é um sistema teste contendo três funcionalidades de cadastro basicas para cliente, transportadora e as taxas de frete para cada cliente
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>