﻿@model axadotestekhaled.Domain.Entities.Frete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Frete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transport.NomeTransportadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transport.NomeTransportadora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFrete }) |
    @Html.ActionLink("Back to List", "Index")
</p>
