﻿@model IEnumerable<axadotestekhaled.Domain.Entities.Frete>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport.NomeTransportadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transport.NomeTransportadora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFrete }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFrete }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFrete })
        </td>
    </tr>
}

</table>
